<div class="col-md-12 text-xs-center">
	<h1 class="">SpyBird!</h1>
	<h3 class="">Track and find out what people is tweeting!</h3>
	<h5 class="">Ptsss.. is <%= Time.now %> right now</h5>
</div>
<div class="col-md-12">
	<form id="trackForm" method="get" action="/track">
			<div class="text-xs-center form-group">
				<label>Enter the word you wanna track</label>
				<div class="">
					<input name="term" type="text" class="form-control text-center" placeholder="Neko">
				</div>
			</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Track!</button>
	</form>
</div>