<% #STOP AFTER COLLECTIONG 10 STATUSES
	@statuses=[]
	TweetStream::Client.new.sample do |status,client|
		# print "#{status.text}"
		@statuses << status
		puts status.text 
		client.stop if @statuses.size >=10
	end
%>


<html>
	<head>
		<title>Managua Tweets</title>
	</head>
	<body>
		<h1>Ruby</h1>
		<h2>Tweets of Managua LIVE</h2>

		<ul>
			<% @statuses.each do |trash| %>
			<%= "#{trash.text}\n"%><br>
			<% end %>
		</ul>

	</body>
</html>