<html>
	<head>
		<title>Managua Tweets</title>
		<link rel="stylesheet" type="text/css" href=
		"/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/stream.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1>Ruby</h1>
		<h2>Tweets of Managua LIVE</h2>

		<table class="table table-striped">
			<tr class="table_header">
				<th>[@Usr]</th>
				<th>Content</th>
			</tr>
				<tr>
						<td></td>
						<td></td>
				</tr>
		</table>
	</body>
</html>